<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NewBTASProto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="NewBTASProto.Properties.Settings.BTS16NVConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\BTS16NV.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <NewBTASProto.Properties.Settings>
            <setting name="FormWidth" serializeAs="String">
                <value>1298</value>
            </setting>
            <setting name="FormHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="PositionX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PositionY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showSels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dualPlots" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cb2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cb3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cb4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cb5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cb6" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FC6C1MinimumCellVotageAfterChargeTestEnabled"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FC6C1MinimumCellVoltageThreshold" serializeAs="String">
                <value>1.55</value>
            </setting>
            <setting name="DecliningCellVoltageTestEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FC6C1WaitEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FC6C1WaitTime" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="cbComplete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbUpdateCompleteDate" serializeAs="String">
                <value>False</value>
            </setting>
        </NewBTASProto.Properties.Settings>
    </userSettings>
  <runtime>
    <!-- the following setting prevents the host from closing when an unhandled exception is thrown -->
    <legacyUnhandledExceptionPolicy enabled="1" />
  </runtime>
</configuration>